<div class="container my-4">
    <info-button></info-button>
  
    <div class="text-center my-3">
      <h2>Licensz</h2>
      <hr class="border border-2 opacity-50 border-success">


      <p>Ezen weboldal licensze a következő linken érhető el: </p>
      <p><a class="text-reset" target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">https://creativecommons.org/licenses/by-nc/4.0/legalcode</a></p>

      <p>A weboldal forráskódja a GitHubon: </p>
      <p><a href="https://github.com/csengekulker/zoldng" target="_blank" class="text-reset">https://github.com/csengekulker/zoldng</a></p>

    </div>

  
  </div>