<div class="container my-4">
  <h1>Információk</h1>
  <hr class="border border-2 opacity-50 border-success">


  <p>Az alábbi linkeket követve további hasznos információkat, dokumentumokat, felmerülő kérdéseidre válaszokat találhatsz. <br> Ha ezután is marad amit megkérdeznél, kérlek vedd fel velem a kapcsolatot. </p>

  <div class="list-group col-md-4">

    <a 
    *ngFor="let each of info"
    href="/info/{{each.ref}}" 
    class="list-group-item list-group-item-action">{{each.text}}</a>

  </div>

  <router-outlet></router-outlet>

</div>