<div class="container mt-4">
  <info-button></info-button>

  <div class="text-center">
    <h2 class="mb-3">Árlista</h2>
    <hr class="border border-2 opacity-50 border-success">

    <table class="table">
      <thead>
        <tr>
          <th class="col-md-6">Típus megnevezése</th>
          <th class="col-md-3">Időtartam (perc)</th>
          <th class="col-md-3">Ár (Ft)</th>
        </tr>
      </thead>
    </table>

    <table class="col table table-hover"  *ngFor="let service of services">
      <thead >
        <tr>
          <th colspan="3">{{service.name}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let type of types">
        <tr >
          <td class="col-md-6">{{type.name}}</td>
          <td class="col-md-3">{{type.duration}}'</td>
          <td class="col-md-3">{{type.price}} Ft</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>